﻿
@{
    ViewData["Title"] = "Create";
}

<h2>Indtast dine informationer her</h2>

<form action="/home/create" method="post">
    <label for="Fornavn">Fornavn</label>
    <input type="text" name="Fornavn" /><br /><br />
    <label for="Efternavne">Efternavn</label>
    <input type="text" name="Efternavn" /><br /><br />
    <label for="Firma">Firma</label>
    <input type="text" name="Firma" />
    <br /><br />
    <input type="submit" name="submit" />
</form>